nav
  width: 100%
  padding: 0 3em
  // max-width: 1000px
  position: absolute
  top: 0
  left: 50%
  transform: translateX(-50%)
  color: $black
  z-index: 999
  margin-top: 2em
  display: flex
  justify-content: space-between
  align-items: center
  &.sticky-nav
    position: fixed
    width: 100%
    max-width: 100%
    margin: 0
    padding: 1em 3em
    background-color: rgba($white, 0.9)
  .logo
    font-size: 2em
    font-weight: 900
    font-family: "Lato"
    color: $black
    text-decoration: none
    letter-spacing: 4px
    transition: all 200ms ease-in-out
    #icon
      width 40px
      transition: 200ms ease-in-out
      #icon--rocket
        transition: transform 200ms ease-in-out
        transform: translate(0,0)
      &:hover
        fill: $orange
        #icon--rocket
          transform: translate(3px, -3px)
  .hamburger-menu
    display: none
  ul.navbar
    list-style: none
    display: flex
    margin-left auto
    li
      .nav--item
        font-size: 0.75em
        font-family: "Lato"
        font-weight: 800
        text-transform: uppercase
        letter-spacing: 1px
        margin: 0 0 0 3em
        color: $black
        text-decoration: none
        white-space: nowrap
        transition: all 200ms cubic-bezier(0.33, 0.2, 0.14, 1.46)
        &:hover
          color: darken($teal, 15%)
          padding-bottom: 0.5em
          border-bottom: 2px solid
  .nav--button
    font-size: 0.75em
    font-family: "Lato"
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 1px
    margin: 0 0 0 3em
    padding-bottom: 0em
    color: $white
    background-color: $teal
    padding: 0.75em 1.25em
    border-radius 10em
    text-decoration: none
    white-space: nowrap
    transition: 200ms ease-in-out
    &:hover
      background-color darken($teal, 10%)

@media (max-width: 1100px)
  nav
    flex-wrap: wrap
    .hamburger-menu
      display: block
      margin-left auto
    ul.navbar
      flex-wrap: wrap
      width: 100%
      margin: 0
      margin-top: 1em
      padding: 0
      display: none
      position: absolute
      width 95%
      left 2.5%
      top 4.75em
      background-color $white
      li
        width: 100%
        padding-start: 0
        .nav--item
          display: block
          width: 100%
          margin: 0
          padding: 1.5em
          text-align: center
          // background-color: #666
          // border-top: 1px solid #888
          &:hover
            padding-bottom 1.5em
            border-bottom: none
            // background-color: #555