#program
  section#hero
    // background-image: linear-gradient(rgba($black,0.5), rgba($black,0.5)), url("../img/bg2.jpg")
    background-image: linear-gradient(rgba($white,0.7), rgba($white,0.7)), url("../img/hero-bg.png")
    // background-color $white
    // min-height: 100vh
    min-height: 680px
    .wrapper
      max-width 800px
      #logo
        #logo--rocket
          transition: transform 200ms ease-in
          transform: translate(0,0)
        rect
          transition: 200ms ease-in-out
        &:hover
          #logo--rocket
            transform: translate(60px, -60px)
          rect
            fill: $orange
      p
        font-size: 1.5em
        font-family: "Lato"
        font-weight: 200
        letter-spacing: 2px
        color: $black
        text-align: center
        
  section#about-program
    background-color darken($teal, 10%)
    color: $white
    min-height 560px
    @media (max-width 800px)
      min-height 0
    .wrapper
      max-width 840px
      p
        text-align center
        font-size 1.25em
        
  section#how-to-apply
    min-height 1600px
    @media (max-width 800px)
      min-height 0
    .wrapper
      max-width 800px
      p
        line-height 1.65
      .button-cta
        display inline-block
        color $orange
        border 3px solid $orange
        border-radius 10em
        padding 0.75em 1.5em
        text-decoration none
        margin-top 1.5em
        font-size 1.25em
        transition 200ms ease-in-out
        &:hover
          background-color $orange
          color $white

  section#selection-criteria
    background-image: linear-gradient(rgba($black, 0.7), rgba($black, 0.7)), url("../img/interview-bg.jpg")
    // background-color $teal
    color: $white
    min-height 680px
    @media (max-width 800px)
      min-height 0
    .wrapper
      max-width 800px
      
  section#partners
    background-color $white
    color $black
    min-height 400px
    .wrapper
      max-width 720px
      p
        text-align center
        font-size 1.25em
        line-height 1.45
        font-weight 500
        padding-bottom 2em
        display none
      .partner-logos
        width 100%
        opacity: 0.4